{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<div class="row">
		<!-- Filters -->
		<div class="col-md-3">
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
			<!-- Filter 1 -->
			
			<!-- Filter 2 -->
			<div class="card mb-4">
				<h6 class="card-header">Categories</h6>
				<div class="list-group list-group-flush">
					{% for cat in cats %}
					<li class="list-group-item">
						<input value="{{cat.category__id}}" type="checkbox" />&nbsp;
						{{cat.category__title}}
					</li>
					{% endfor %}
				</div>
			</div>

			<div class="card mb-4">
				<h6 class="card-header">Branches</h6>
				<div class="list-group list-group-flush">
					{% for branch in branchs %}
					<li class="list-group-item">
						<input value="{{branch.branch__id}}" type="checkbox" />&nbsp;
						{% comment %} <button class="btn btn-danger"></button> {% endcomment %}
						{{branch.branch__title}}
					</li>
					{% endfor %}
				</div>
			</div>

			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Years</h6>
				<div class="list-group list-group-flush">
					{% for year in years %}
					<li class="list-group-item">
						<input value= "{{year.year__id}}" type="checkbox" />&nbsp;
						{{year.year__title}}
					</li>
					{% endfor %}
				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Domains</h6>
				<div class="list-group list-group-flush">
					{% for domain in domains %}
					<li class="list-group-item">
						<input value= "{{domain.domain__id}}" type="checkbox" />&nbsp;
						{{domain.domain__title}}
					</li>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<!-- Products -->
			<h3 class="mb-4 border-bottom pb-1">
				Competitions
			</h3>
			<div class="row">
				{% for competition in data_competition %}
				<div class="col-md-4 mb-4">
					<div class="card shadow">
					  <a href="/competition/{{competition.slug}}/{{competition.id}}"><img src="/media/{{competition.image}}" class="card-img-top" alt="{{competition.title}}"></a>
					  <div class="card-body">
					    <h6 class="card-text"><a href="/competition/{{competition.slug}}/{{competition.id}}">{{competition.title}}</a></h6>
					  </div>
					  <div class="card-footer">
					  	<button class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart"></i></button>
					  	<button class="btn btn-sm btn-danger"><i class="fa fa-heart"></i></button>
					  	<span class="float-right">
					  		4.5/5
					  		<i class="fa fa-star text-warning"></i>
					  	</span>
					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
			<p class="my-4 text-center"><a href="products.php" class="btn btn-dark btn-sm">Load More <i class="fa fa-sync"></i></a></p>
		</div>
	</div>
</main>
{% endblock %} 