<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box1">
        <h4 style="padding: 20px;">Registration Deadline : 20th september </h4>
        <h4 style="padding: 20px;">Team Size : 2 to 4 members</h4>
        <h4 style="padding: 20px;">Free Registration</h4>
    </div>
    <br>

    <div class="box2">
        <h4>Start Date : </h4>
        <h4>End Date : </h4>
        <h4>Eligibility : </h4>
    </div>
    <br>

    <div class="box3">
        <h4>Rules :</h4>
        <p class="rules">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, officia aperiam nihil dolorum nostrum aliquid omnis, itaque temporibus et sequi necessitatibus sed veritatis dicta error perspiciatis obcaecati eos aut nobis!</p>
        <p class="rules">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iste harum quis quas praesentium similique, dolorem alias perspiciatis excepturi fuga doloribus facilis consequuntur voluptates laudantium officia eos. Ut, provident omnis!</p>
        <p class="rules">3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus! Nihil magni quo molestiae quis, expedita ex, tempore beatae, illum ut quisquam sed ipsum adipisci omnis blanditiis reiciendis animi doloremque.</p>
    </div>
    <br>

    <div class="container">
        <div class="card">
            <h3>Winners</h3>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ea, perferendis atque assumenda explicabo, tempora voluptate deleniti aliquid similique asperiores dolore fuga excepturi quibusdam sint, harum dicta? Officiis, similique enim.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h3>Participtate</h3>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ea, perferendis atque assumenda explicabo, tempora voluptate deleniti aliquid similique asperiores dolore fuga excepturi quibusdam sint, harum dicta? Officiis, similique enim.</p>
            </div>
        </div>
    </div>
    <br>

</body>
</html>